<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <style>
        .regpage {
            background-color: rgb(172, 172, 172);
            padding: 20px;
            width: 200px;
            border-radius: 10px;
        }
        .label {
            
            margin-top: 10px;
        }
        .submitbutton {
            background-color: green;
            color: white;
            border: none;
            margin-top: 10px;
            cursor: pointer;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Registration Page</h1>
    <form action="/submit" method="Post" class="regpage">
        <label for="name" class="label">Enter Name</label>
        <input class="name" name="name" id="name" type="text" placeholder="Enter name" required />
        
        <label for="password" class="label">Enter Password</label>
        <input class="password" name="password" id="password" type="password" placeholder="Enter password" required />
        
        <label for="confirmpassword" class="label">Confirm Password</label>
        <input class="confirmpassword" name="confirmpassword" id="confirmpassword" type="password" placeholder="Confirm password" required />
        
        <button type="submit" class="submitbutton" onclick="registration()">Submit</button>
    </form>

    
</body>
</html>
